.oval .legendsContainer {
    height: 6%;
    width: 1%;
}

.oval .legendsContainer:last-child .legends {
    width: 250%;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--text-color) 40%, var(--background-color) 40%, var(--background-color) 60%, var(--text-color) 60%);
}

.oval .legends {
    border-radius: 50%;
}

.oval #hour {
    border-radius: 50%;
}

.oval #minute {
    border-radius: 50%;
    height: 45%;
}

.oval #second {
    height: 47%;
}