.flat .legends {
    border-radius: 10px;
    margin-top: 50%;
}

.flat {
    --second-tail-length: 20%;
}


.flat .legendsContainer {
    height: 3.5%;
}

.flat #hour {
    width: 2%;
    border-radius: 10px;
}

.flat #minute {
    height: 45.5%;
    border-radius: 10px;
}

.flat #second {
    width: 0.5%;
    height: 49%;
}